@charset "UTF-8";

main {
    padding: 0px 20px;
}

main > h2 {
    text-align: center;
    padding: 20px 0px;
}

main > div.equipe {
    margin: auto;
    padding: 15px 25px;
    background-color: rgb(155, 191, 192);
    text-indent: 0px;
    text-align: center;
}

main > div.equipe > div.membro {
    display: inline-block;
    background-color: rgb(221, 221, 208);
    padding: 8px;
    border-radius: 2%;
    border: 1px solid rgba(0, 0, 0, 0.11);
    margin: 0px 5px 14px 5px
}

main > div.equipe > div.membro > img {
    width: 230px;
    height: 230px;
    display: block;
    border-radius: 3%;
}

main > div.equipe > div.membro > h2 {
    letter-spacing: 3px;
    text-align: left;
    width: 100%;
}

main > div.equipe > div.membro > p {
    text-align: left;
}

main > div.imagem {
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

main > div.imagem > img {
    border: 1px solid rgba(0, 0, 0, 0.212);
}