@charset "UTF-8";

/* CONFIGURAÇÕES GLOBAIS */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color1: #040F0F;
    --color2: #2D3A3A;
    --color3: #248232;
    --color4: #2BA84A;
    --color5: #c2f8d0;
    --color6: #FFFFFF;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: var(--color5);
}

/* CABEÇALHO */

header {
    background-color: var(--color4);
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px;
}

header > picture > a > img{
    background-color: rgb(255, 255, 255);
    width: 52px;
    height: 54px;
    padding: 5px;
    border-radius: 15%;
}

header > h1 > a {
    color: var(--color6);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.20);
    text-decoration: none;
    font-size: 26px;
    text-align: center;
    padding: 20px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav#item {
    background-color: var(--color3);
    display: none;
    text-align: center;
}

nav#item > a {
    color: var(--color6);
    text-decoration: none;
    display: block;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 10px;
}

nav#item > a:hover {
    background-color: var(--color4);
    transition: 0.5s;
}

i#burguer {
    background-color: var(--color3);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burguer:hover {
    background-color: var(--color4);
    transition: 0.5s;
}

/* MENU */

menu {
    background-color: var(--color3);
    text-align: center;
    display: none;
}

menu > ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

menu > ul > li {
    display: flex;
    align-items: center;
}

menu > ul > li:hover {
    background-color: var(--color4);
    transition: 0.5s;
}

menu > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 12px;
}

/* MAIN */

main {
    text-align: justify;
    text-indent: 30px;
    padding: 25px;
    margin: 15px auto 0px auto;
    max-width: 1150px;
}
