@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color1: #040F0F;
    --color2: #2D3A3A;
    --color3: #248232;
    --color4: #2BA84A;
    --color5: #FCFFFC;
}

html {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #c2f8d0;
}

/* CABEÇALHO */

header {
    background-color: var(--color4);
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

header > picture > img{
    background-color: rgb(255, 255, 255);
    width: 45px;
    height: 50px;
    padding: 5px;
    border-radius: 15%;
}

header > h1 {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.20);
    text-align: center;
    padding: 20px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    display: none;
}

i#burguer {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: var(--color3);
    cursor: pointer;
    color: white;
}

/* MENU */

menu {
    background-color: var(--color3);
    text-align: center;
    display: none;
}

menu > ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

menu > ul > li {
    display: flex;
    align-items: center;
}

menu > ul > li:hover {
    background-color: var(--color4);
}

menu > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 12px;
}

/* MAIN */

main {
    text-align: justify;
    text-indent: 30px;
    padding: 25px;
    margin: 15px auto 0px auto;
    max-width: 1150px;
}
